<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bd.piniti.service">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AddUserInformations.GenderActivity"></activity>
        <activity android:name=".AddUserInformations.AddBirthdayActivity" />
        <activity android:name=".AddUserInformations.AddNameActivity" />
        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".WalkThroughActivity" />
        <activity android:name=".LoginSignupActivity" />
        <activity android:name=".OTPActivity" />
        <activity android:name=".HomePageActivity" />
        <activity android:name=".All_Services_Activity" />
        <activity android:name=".WalkThroughActivity2" />
        <activity android:name=".SalonAtHomeWomenOne" />
        <activity android:name=".ReviewRatingActivity" />
        <activity android:name=".SalonAtHomeWomenTwo" />
        <activity android:name=".SalonAtHomeWomenThree" />
        <activity android:name=".OffersActivity" />
        <activity android:name=".SelectAddressActivity" />
        <activity android:name=".AddAddressActivity" />
        <activity android:name=".ScheduleTimeDateActivity" />
        <activity android:name=".PaymentActivity" />
        <activity android:name=".OrderSucessActivity" />
        <activity android:name=".MakupAndHairActivity" />
        <activity android:name=".MakupAndHairFirstActivity" />
        <activity android:name=".MakupAndHairSecondActivity" />
        <activity android:name=".MakupAndHairThirdActivity" />
        <activity android:name=".MakupAndHairFourthActivity" />
        <activity android:name=".MakupAndHairFifthActivity" />
        <activity android:name=".MakupAndHairSixActivity" />
        <activity android:name=".BridalMakupPaymentActivity" />
        <activity android:name=".BridalMakupOrderSuccessActivity" />
        <activity android:name=".WeddingPartyOneActivity" />
        <activity android:name=".WeddingPartySecondActivity" />
        <activity android:name=".MehndiActivity" />
        <activity android:name=".MehndiArtistOneActivity" />
        <activity android:name=".MehndiArtistSecondActivity" />
        <activity android:name=".MehndiArtistThirdActivity" />
        <activity android:name=".MehndiArtistFourthActivity" />
        <activity android:name=".MehndiArtistFourth_OneActivity" />
        <activity android:name=".MehndiArtistBrideActivity" />
        <activity android:name=".MehndiArtistBrideGusestActivity" />
        <activity android:name=".MehndiArtistBrideGuestThreeActivity" />
        <activity android:name=".MehndiArtistBrideGusestSixActivity" />
        <activity android:name=".AcOneActivity" />
        <activity android:name=".AcSecondActivity" />
        <activity android:name=".MehendiArtistBrideGuestsSevenActivity" />
        <activity android:name=".MehndiArtistBrideGuestNineActivity" />
        <activity android:name=".AcThirdActivity" />
        <activity android:name=".AcFourthActivity" />
        <activity android:name=".AcFifthActivity" />
        <activity android:name=".AcSixActivity" />
        <activity android:name=".AcSevenPaymentActivity" />
        <activity android:name=".AcOrderSuccessActivity" />
        <activity android:name=".GeyserOneActivity" />
        <activity android:name=".GeyserSecondActivity" />
        <activity android:name=".GeyserThreeActivity" />
        <activity android:name=".GeyserFourActivity" />
        <activity android:name=".GeyserFiveActivity" />
        <activity android:name=".GeyserSixActivity" />
        <activity android:name=".GeyserSevenActivity" />
        <activity android:name=".HomeCleaningOneActivity" />
        <activity android:name=".HomeCleaningSecondActivity" />
        <activity android:name=".HomeCleaningThreeActivity" />
        <activity android:name=".HomeCleaningFourthActivity" />
        <activity android:name=".HomeCleaningFifthActivity" />
        <activity android:name=".HomeCleaningSixActivity" />
        <activity android:name=".HomeCleaningSevenActivity" />
        <activity android:name=".KitchenCleaningOneActivity" />
        <activity android:name=".CarpetCleaningOneActivity" />
        <activity android:name=".BathroomCleaningOneActivity" />
        <activity android:name=".SofaCleaningOneActivity" />
        <activity android:name=".HomePaintingOneActivity" />
        <activity android:name=".HomePaintingSecondActivity" />
        <activity android:name=".HomePaintingThreeActivity" />
        <activity android:name=".HomePaintingFourthActivity" />
        <activity android:name=".HomePaintingFifthActivity" />
        <activity android:name=".HomePaintingSixActivity" />
        <activity android:name=".HomePaintingSevenActivity" />
        <activity android:name=".HomePaintingEightActivity" />
        <activity android:name=".PartyDecorationOneActivity" />
        <activity android:name=".PartyDecorationSecondActivity" />
        <activity android:name=".PartyDecorationThirdActivity" />
        <activity android:name=".PartyDecorationFourActivity" />
        <activity android:name=".PartyDecorationFifthActivity" />
        <activity android:name=".PartyDecorationSixActivity" />
        <activity android:name=".PartyDecorationSevenActivity" />
        <activity android:name=".WeddingPhotographerOneActivity" />
        <activity android:name=".WeddingPhotographerSecondActivity" />
        <activity android:name=".WeddingPhotographerThirdActivity" />
        <activity android:name=".WeddingPhotographerFourthActivity" />
        <activity android:name=".WeddingPhotographerFifthActivity" />
        <activity android:name=".WeddingPhotographerSixActivity" />
        <activity android:name=".WeddingPhotographerSevenActivity" />
        <activity android:name=".WeddingPhotographerEightActivity" />
        <activity android:name=".WeddingPhotographerNineActivity" />
        <activity android:name=".EventPhotographerOneActivity" />
        <activity android:name=".EventPhotographerSecondActivity" />
        <activity android:name=".EventPhotographerThirdActivity" />
        <activity android:name=".EventPhotographerFourthActivity" />
        <activity android:name=".EventPhotographerFifthActivity" />
        <activity android:name=".EventPhotographerSixActivity" />
        <activity android:name=".EventPhotographerSevenActivity" />
        <activity android:name=".EventPhotographerEightActivity" />
        <activity android:name=".EventPhotographerNineActivity" />
        <activity android:name=".EventPhotographerTenActivity" />
        <activity android:name=".PestControlOneActivity" />
        <activity android:name=".PestControlSecondActivity" />
        <activity android:name=".PestControlThirdActivity" />
        <activity android:name=".PestControlFourthActivity" />
        <activity android:name=".PestControlFifthActivity" />
        <activity android:name=".PestControlSixActivity" />
        <activity android:name=".PestControlSevenActivity" />
        <activity android:name=".MovingHomeOneActivity" />
        <activity android:name=".MovingHomeSecondActivity" />
        <activity android:name=".MovingHomeThirdActivity" />
        <activity android:name=".MovingHomeFourthActivity" />
        <activity android:name=".MovingHomeFifthActivity" />
        <activity android:name=".MovingHomeSixActivity" />
        <activity android:name=".MovingHomeSevenActivity" />
        <activity android:name=".MovingHomeEightActivity" />
        <activity android:name=".BlocksLeakageOneActivity" />
        <activity android:name=".BlocksLeakageSecondActivity" />
        <activity android:name=".BlocksLeakageThirdActivity" />
        <activity android:name=".BlocksLeakageFourthActivity" />
        <activity android:name=".BlocksLeakageFifthActivity" />
        <activity android:name=".BlocksLeakageSixActivity" />
        <activity android:name=".BlocksLeakageSevenActivity" />
        <activity android:name=".BlocksLeakageEightActivity" />
        <activity android:name=".ToiletSanitaryWorkOneActivity" />
        <activity android:name=".ToiletSanitaryWorkSecondActivity" />
        <activity android:name=".ToiletSanitaryWorkThirdActivity" />
        <activity android:name=".ToiletSanitaryWorkFourthActivity" />
        <activity android:name=".ToiletSanitaryWorkFifthActivity" />
        <activity android:name=".ToiletSanitaryWorkSixActivity" />
        <activity android:name=".ToiletSanitaryWorkSevenActivity" />
        <activity android:name=".ToiletSanitaryWorkEightActivity" />
        <activity android:name=".BathRoomFittingOneActivity" />
        <activity android:name=".BathRoomFittingSecondActivity" />
        <activity android:name=".BathRoomFittingThirdActivity" />
        <activity android:name=".BathRoomFittingFourthActivity" />
        <activity android:name=".BathRoomFittingFifthActivity" />
        <activity android:name=".BathRoomFittingSixActivity" />
        <activity android:name=".BathRoomFittingSevenActivity" />
        <activity android:name=".WaterTankOneActivity" />
        <activity android:name=".WaterTankSecondActivity" />
        <activity android:name=".WaterTankThirdActivity" />
        <activity android:name=".WaterTankFourthActivity" />
        <activity android:name=".WaterTankFifthActivity" />
        <activity android:name=".WaterTankSixActivity" />
        <activity android:name=".WaterTankSevenActivity" />
        <activity android:name=".FullHomeCheckPlumberOneActivity" />
        <activity android:name=".FanOneActivity" />
        <activity android:name=".FanSecondActivity" />
        <activity android:name=".FanThirdActivity" />
        <activity android:name=".FanFourActivity" />
        <activity android:name=".FanFifthActivity" />
        <activity android:name=".FanSixActivity" />
        <activity android:name=".FanSevenActivity" />
        <activity android:name=".FanEightActivity" />
        <activity android:name=".LightOneActivity" />
        <activity android:name=".InverterOneActivity" />
        <activity android:name=".FullHomeCheckElectricityOneActivity" />
        <activity android:name=".FullHomeCheckElectricitySecondActivity" />
        <activity android:name=".LocationActivity" />
        <activity android:name=".SearchingActivity" />
    </application>

</manifest>