<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bd.piniti.service">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="bd.piniti.service.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="bd.piniti.service.WalkThroughActivity" />
        <activity android:name="bd.piniti.service.LoginSignupActivity" />
        <activity android:name="bd.piniti.service.OTPActivity" />
        <activity android:name="bd.piniti.service.HomePageActivity" />
        <activity android:name="bd.piniti.service.All_Services_Activity" />
        <activity android:name="bd.piniti.service.WalkThroughActivity2" />
        <activity android:name="bd.piniti.service.SalonAtHomeWomenOne" />
        <activity android:name="bd.piniti.service.ReviewRatingActivity" />
        <activity android:name="bd.piniti.service.SalonAtHomeWomenTwo" />
        <activity android:name="bd.piniti.service.SalonAtHomeWomenThree" />
        <activity android:name="bd.piniti.service.OffersActivity" />
        <activity android:name="bd.piniti.service.SelectAddressActivity" />
        <activity android:name="bd.piniti.service.AddAddressActivity" />
        <activity android:name="bd.piniti.service.ScheduleTimeDateActivity" />
        <activity android:name="bd.piniti.service.PaymentActivity" />
        <activity android:name="bd.piniti.service.OrderSucessActivity" />
        <activity android:name="bd.piniti.service.MakupAndHairActivity" />
        <activity android:name="bd.piniti.service.MakupAndHairFirstActivity" />
        <activity android:name="bd.piniti.service.MakupAndHairSecondActivity" />
        <activity android:name="bd.piniti.service.MakupAndHairThirdActivity" />
        <activity android:name="bd.piniti.service.MakupAndHairFourthActivity" />
        <activity android:name="bd.piniti.service.MakupAndHairFifthActivity" />
        <activity android:name="bd.piniti.service.MakupAndHairSixActivity" />
        <activity android:name="bd.piniti.service.BridalMakupPaymentActivity" />
        <activity android:name="bd.piniti.service.BridalMakupOrderSuccessActivity" />
        <activity android:name="bd.piniti.service.WeddingPartyOneActivity" />
        <activity android:name="bd.piniti.service.WeddingPartySecondActivity" />
        <activity android:name="bd.piniti.service.MehndiActivity" />
        <activity android:name="bd.piniti.service.MehndiArtistOneActivity" />
        <activity android:name="bd.piniti.service.MehndiArtistSecondActivity" />
        <activity android:name="bd.piniti.service.MehndiArtistThirdActivity" />
        <activity android:name="bd.piniti.service.MehndiArtistFourthActivity" />
        <activity android:name="bd.piniti.service.MehndiArtistFourth_OneActivity" />
        <activity android:name="bd.piniti.service.MehndiArtistBrideActivity" />
        <activity android:name="bd.piniti.service.MehndiArtistBrideGusestActivity" />
        <activity android:name="bd.piniti.service.MehndiArtistBrideGuestThreeActivity" />
        <activity android:name="bd.piniti.service.MehndiArtistBrideGusestSixActivity" />
        <activity android:name="bd.piniti.service.AcOneActivity" />
        <activity android:name="bd.piniti.service.AcSecondActivity" />
        <activity android:name="bd.piniti.service.MehendiArtistBrideGuestsSevenActivity" />
        <activity android:name="bd.piniti.service.MehndiArtistBrideGuestNineActivity" />
        <activity android:name="bd.piniti.service.AcThirdActivity" />
        <activity android:name="bd.piniti.service.AcFourthActivity" />
        <activity android:name="bd.piniti.service.AcFifthActivity" />
        <activity android:name="bd.piniti.service.AcSixActivity" />
        <activity android:name="bd.piniti.service.AcSevenPaymentActivity" />
        <activity android:name="bd.piniti.service.AcOrderSuccessActivity" />
        <activity android:name="bd.piniti.service.GeyserOneActivity" />
        <activity android:name="bd.piniti.service.GeyserSecondActivity" />
        <activity android:name="bd.piniti.service.GeyserThreeActivity" />
        <activity android:name="bd.piniti.service.GeyserFourActivity" />
        <activity android:name="bd.piniti.service.GeyserFiveActivity" />
        <activity android:name="bd.piniti.service.GeyserSixActivity" />
        <activity android:name="bd.piniti.service.GeyserSevenActivity" />
        <activity android:name="bd.piniti.service.HomeCleaningOneActivity" />
        <activity android:name="bd.piniti.service.HomeCleaningSecondActivity" />
        <activity android:name="bd.piniti.service.HomeCleaningThreeActivity" />
        <activity android:name="bd.piniti.service.HomeCleaningFourthActivity" />
        <activity android:name="bd.piniti.service.HomeCleaningFifthActivity" />
        <activity android:name="bd.piniti.service.HomeCleaningSixActivity" />
        <activity android:name="bd.piniti.service.HomeCleaningSevenActivity" />
        <activity android:name="bd.piniti.service.KitchenCleaningOneActivity" />
        <activity android:name="bd.piniti.service.CarpetCleaningOneActivity" />
        <activity android:name="bd.piniti.service.BathroomCleaningOneActivity" />
        <activity android:name="bd.piniti.service.SofaCleaningOneActivity" />
        <activity android:name="bd.piniti.service.HomePaintingOneActivity" />
        <activity android:name="bd.piniti.service.HomePaintingSecondActivity" />
        <activity android:name="bd.piniti.service.HomePaintingThreeActivity" />
        <activity android:name="bd.piniti.service.HomePaintingFourthActivity" />
        <activity android:name="bd.piniti.service.HomePaintingFifthActivity" />
        <activity android:name="bd.piniti.service.HomePaintingSixActivity" />
        <activity android:name="bd.piniti.service.HomePaintingSevenActivity" />
        <activity android:name="bd.piniti.service.HomePaintingEightActivity" />
        <activity android:name="bd.piniti.service.PartyDecorationOneActivity" />
        <activity android:name="bd.piniti.service.PartyDecorationSecondActivity" />
        <activity android:name="bd.piniti.service.PartyDecorationThirdActivity" />
        <activity android:name="bd.piniti.service.PartyDecorationFourActivity" />
        <activity android:name="bd.piniti.service.PartyDecorationFifthActivity" />
        <activity android:name="bd.piniti.service.PartyDecorationSixActivity" />
        <activity android:name="bd.piniti.service.PartyDecorationSevenActivity" />
        <activity android:name="bd.piniti.service.WeddingPhotographerOneActivity" />
        <activity android:name="bd.piniti.service.WeddingPhotographerSecondActivity" />
        <activity android:name="bd.piniti.service.WeddingPhotographerThirdActivity" />
        <activity android:name="bd.piniti.service.WeddingPhotographerFourthActivity" />
        <activity android:name="bd.piniti.service.WeddingPhotographerFifthActivity" />
        <activity android:name="bd.piniti.service.WeddingPhotographerSixActivity" />
        <activity android:name="bd.piniti.service.WeddingPhotographerSevenActivity" />
        <activity android:name="bd.piniti.service.WeddingPhotographerEightActivity" />
        <activity android:name="bd.piniti.service.WeddingPhotographerNineActivity" />
        <activity android:name="bd.piniti.service.EventPhotographerOneActivity" />
        <activity android:name="bd.piniti.service.EventPhotographerSecondActivity" />
        <activity android:name="bd.piniti.service.EventPhotographerThirdActivity" />
        <activity android:name="bd.piniti.service.EventPhotographerFourthActivity" />
        <activity android:name="bd.piniti.service.EventPhotographerFifthActivity" />
        <activity android:name="bd.piniti.service.EventPhotographerSixActivity" />
        <activity android:name="bd.piniti.service.EventPhotographerSevenActivity" />
        <activity android:name="bd.piniti.service.EventPhotographerEightActivity" />
        <activity android:name="bd.piniti.service.EventPhotographerNineActivity" />
        <activity android:name="bd.piniti.service.EventPhotographerTenActivity" />
        <activity android:name="bd.piniti.service.PestControlOneActivity" />
        <activity android:name="bd.piniti.service.PestControlSecondActivity" />
        <activity android:name="bd.piniti.service.PestControlThirdActivity" />
        <activity android:name="bd.piniti.service.PestControlFourthActivity" />
        <activity android:name="bd.piniti.service.PestControlFifthActivity" />
        <activity android:name="bd.piniti.service.PestControlSixActivity" />
        <activity android:name="bd.piniti.service.PestControlSevenActivity" />
        <activity android:name="bd.piniti.service.MovingHomeOneActivity" />
        <activity android:name="bd.piniti.service.MovingHomeSecondActivity" />
        <activity android:name="bd.piniti.service.MovingHomeThirdActivity" />
        <activity android:name="bd.piniti.service.MovingHomeFourthActivity" />
        <activity android:name="bd.piniti.service.MovingHomeFifthActivity" />
        <activity android:name="bd.piniti.service.MovingHomeSixActivity" />
        <activity android:name="bd.piniti.service.MovingHomeSevenActivity" />
        <activity android:name="bd.piniti.service.MovingHomeEightActivity" />
        <activity android:name="bd.piniti.service.BlocksLeakageOneActivity" />
        <activity android:name="bd.piniti.service.BlocksLeakageSecondActivity" />
        <activity android:name="bd.piniti.service.BlocksLeakageThirdActivity" />
        <activity android:name="bd.piniti.service.BlocksLeakageFourthActivity" />
        <activity android:name="bd.piniti.service.BlocksLeakageFifthActivity" />
        <activity android:name="bd.piniti.service.BlocksLeakageSixActivity" />
        <activity android:name="bd.piniti.service.BlocksLeakageSevenActivity" />
        <activity android:name="bd.piniti.service.BlocksLeakageEightActivity" />
        <activity android:name="bd.piniti.service.ToiletSanitaryWorkOneActivity" />
        <activity android:name="bd.piniti.service.ToiletSanitaryWorkSecondActivity" />
        <activity android:name="bd.piniti.service.ToiletSanitaryWorkThirdActivity" />
        <activity android:name="bd.piniti.service.ToiletSanitaryWorkFourthActivity" />
        <activity android:name="bd.piniti.service.ToiletSanitaryWorkFifthActivity" />
        <activity android:name="bd.piniti.service.ToiletSanitaryWorkSixActivity" />
        <activity android:name="bd.piniti.service.ToiletSanitaryWorkSevenActivity" />
        <activity android:name="bd.piniti.service.ToiletSanitaryWorkEightActivity" />
        <activity android:name="bd.piniti.service.BathRoomFittingOneActivity" />
        <activity android:name="bd.piniti.service.BathRoomFittingSecondActivity" />
        <activity android:name="bd.piniti.service.BathRoomFittingThirdActivity" />
        <activity android:name="bd.piniti.service.BathRoomFittingFourthActivity" />
        <activity android:name="bd.piniti.service.BathRoomFittingFifthActivity" />
        <activity android:name="bd.piniti.service.BathRoomFittingSixActivity" />
        <activity android:name="bd.piniti.service.BathRoomFittingSevenActivity" />
        <activity android:name="bd.piniti.service.WaterTankOneActivity" />
        <activity android:name="bd.piniti.service.WaterTankSecondActivity" />
        <activity android:name="bd.piniti.service.WaterTankThirdActivity" />
        <activity android:name="bd.piniti.service.WaterTankFourthActivity" />
        <activity android:name="bd.piniti.service.WaterTankFifthActivity" />
        <activity android:name="bd.piniti.service.WaterTankSixActivity" />
        <activity android:name="bd.piniti.service.WaterTankSevenActivity" />
        <activity android:name="bd.piniti.service.FullHomeCheckPlumberOneActivity" />
        <activity android:name="bd.piniti.service.FanOneActivity" />
        <activity android:name="bd.piniti.service.FanSecondActivity" />
        <activity android:name="bd.piniti.service.FanThirdActivity" />
        <activity android:name="bd.piniti.service.FanFourActivity" />
        <activity android:name="bd.piniti.service.FanFifthActivity" />
        <activity android:name="bd.piniti.service.FanSixActivity" />
        <activity android:name="bd.piniti.service.FanSevenActivity" />
        <activity android:name="bd.piniti.service.FanEightActivity" />
        <activity android:name="bd.piniti.service.LightOneActivity" />
        <activity android:name="bd.piniti.service.InverterOneActivity" />
        <activity android:name="bd.piniti.service.FullHomeCheckElectricityOneActivity" />
        <activity android:name="bd.piniti.service.FullHomeCheckElectricitySecondActivity" />
        <activity android:name="bd.piniti.service.LocationActivity" />
        <activity android:name="bd.piniti.service.SearchingActivity"></activity>
    </application>

</manifest>